    <%- include('../partials/header.ejs',{title:'I am about page'}) %>
    <%- include('../partials/nav.ejs') %>
    <h1>This is About page</h1>
    <h2><%= title %></h2>
    <%- include('../partials/p.ejs') %>
    <%- include('../partials/footer.ejs') %>    